<p-menubar  [model]="items"></p-menubar>
<div class="p-grid p-m-2">
    <div class="p-col-12 p-md-4" *ngFor="let pizza of pizzas">
        <p-card class="p-mb-2">
            <ng-template pTemplate="header">
                <div>
                    <strong style="font-size: 44px; padding-left: 16px; padding-top: 16px; margin: 0 auto; display: block; text-align: center;">{{pizza.name | uppercase}}</strong>
                </div>
                <div>
                    <img [src]="pizza.imageUrl" alt="Pizza Image" style="width:400px; height: 300px; object-fit: fill; border-radius: 20px; justify-content: center; margin: 0 auto; display: block;" />
                </div>
            </ng-template>
            <small style="font-size: large;">{{pizza.category}}</small>
            <p>{{pizza.description}}</p>
            <p>Size: {{pizza.size}}</p>
            <p>Cooking Method: {{pizza.cookingMethod}}</p>
            <p>Spice Level: {{pizza.spiceLevel}}</p>
            <p><strong>Price: Rs{{pizza.price}}</strong></p>
            <p-inputNumber 
            [(ngModel)]="pizza.quantity"
            [showButtons]="true" 
            buttonLayout="horizontal" 
            inputId="horizontal" 
            spinnerMode="horizontal" 
            [step]="1"
            [min]="0" 
            decrementButtonClass="p-button-danger"
            incrementButtonClass="p-button-success"
            incrementButtonIcon="pi pi-plus" 
            decrementButtonIcon="pi pi-minus" 
            [max]="10"
            displayOnly="false"
            buttonStyleClass="custom-button-size" />
        </p-card>
    </div>
    <button pButton type="button" label="Order" class="p-button-success" (click)="orderPizzas()"></button>
</div>

 
