<p-menubar [style]="{color: 'yellow'}" [model]="items" class="fixed-menubar"></p-menubar>
<br>    
<br>
<body>
    <div class="p-grid p-m-2">
        <div class="p-col-12 p-md-4" *ngFor="let pizza of pizzas">
            <p-card header="{{pizza.name}} "subheader="{{pizza.description}}" class="p-mb-2" [style]="{   
                borderRadius: '15px',  
                width: '400px',
                height:'550px',
                backgroundColor: 'white',  
                color: 'black' ,
                boxShadow: '0 0 10px 5px rgba(0, 0, 0, 0.2)'
            }">
                <ng-template pTemplate="header">
                        <img [src]="pizza.imageUrl" alt="Pizza Image" style="object-fit: fill; border-radius: 20px; justify-content: center; margin: 0 auto; display: block;" />
                </ng-template>
                <p>{{pizza.category}} <br>
               <strong>Size: </strong> {{pizza.size}} <br>
                <strong>Cooking Method: </strong>{{pizza.cookingMethod}} <br>
                <strong>Spice Level: </strong>{{pizza.spiceLevel}} <br>
                <strong>Price: Rs{{pizza.price}}</strong></p>
                <p-inputNumber  
                [style]="{ borderRadius: '15px', width: '2px', height: '1px', transform: 'scaleX(0.8)' }"
                [(ngModel)]="pizza.quantity"
                [showButtons]="true" 
                buttonLayout="horizontal" 
                inputId="horizontal" 
                spinnerMode="horizontal" 
                [step]="1"
                [min]="0" 
                decrementButtonClass="p-button-danger"
                incrementButtonClass="p-button-success"
                incrementButtonIcon="pi pi-chevron-up" 
                decrementButtonIcon="pi pi-chevron-down" 
                [max]="10"
                displayOnly="false"
                buttonStyleClass="custom-button-size" />
            
            </p-card>
        </div>
    </div>
    
     
     
</body>
